#clock {
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    width: 900px;
    margin: 150px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    width: 200px;
    height: 65px;
    margin-top: 20px;
    margin-left: 45px;
    text-align: center;
    background-color: aliceblue;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#Horloge button:hover{
    background-color: #e44545;
    transition: all ease-in 0.2s;
}

#Horloge button:active{
    background-color: #8e0000;
    transition: all ease-in 0.2s;
}

#Chrono button:hover{
    background-color: #1bb300;
    transition: all ease-in 0.2s;
}

#boutons {
    display: grid;
    grid-template-columns: 33%*3;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-left: 15%;
}

#Chrono {
    grid-row: 2;
    display:none;
}

#Horloge{
    grid-row: 1;
}

#start, #change{
    grid-column: 1;
}

#stop, #Time{
    grid-column: 2;
}

#reset, #Chronometre{
    grid-column: 3;
}